label{
    font-size: 0.5em;
    text-align: left;
}
form {
    padding: 5em;
    align-items: center;
}
div.input-wrapper{
    background-color: #fbfbfc;
    overflow-x: hidden;
    color: #000;
    font-size: 0.5em;
    height: 3em;
    border-radius: .25em;
    padding: 0.25em;
}
input{
    height: 100%;
    width: 100%;
}
input:focus{
    outline: none;
}
div.button-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
    font-size: 0.7em;
    text-align: center;
    height: 2em;
    border-radius: .25em;
    background-color: #7DA0CA;
}

div.button-wrapper:hover{
    background-color: blue;
    cursor: pointer;
}