.nav-bar{
    margin-top: 2em;
    color: #fff;
    display: flex;
    justify-content: space-around;
    font-size: 0.5em;
    text-align: center;
    align-items: center;
}

.nav-bar span{
    font-size: large;
}

.btn{
    padding: 0.5em 1em;
    background-color: white;
    color: #000;
    border-radius: 0.5em;
}

.navbar-links ul{
    display: flex;
    gap: 1em;
}