.nav-bar{
    margin-top: 2em;
    color: #fff;
    display: flex;
    justify-content: space-around;
    font-size: 0.75em;
    text-align: center;
    align-items: center;
}



.btn{
    padding: 0.5em 1em;
    background-color: white;
    color: #000;
    border-radius: 0.5em;
    transition: 0.5s;
}

.btn:hover{
    letter-spacing: 0.2em;
}

.navbar-links ul{
    display: flex;
    gap: 1em;
}